# Práctica 4
## Parte 3: Automatice el proceso con Python
### Utilice Python para conectarse a la base de datos y ejecutar algunas consultas para saber cómo lucen estos datos.

#### Nevarez García Litzy Yulissa

A continuación se detallan las líneas de código para importar los módulos requeridos de Python:

In [10]:
# this is the library to talk to the database
import sqlite3
import pandas as pd
# this is a library for data visualization
from matplotlib import pyplot as plt
# this is to say that we want our plots to be part of this page, and not opened in a new window
%matplotlib inline

Paso 2: Conéctese a la base de datos

In [14]:
conn = sqlite3.connect('c:\windows\system32\phonebook.db')

In [15]:
cur = conn.cursor()

Paso 3: Ejecute una consulta.

In [19]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [26]:
cur.execute("SELECT * FROM coworkers;")
coworkers = cur.fetchall()
# Ahora podemos recorrer todos los coworkers
for coworkers in coworkers:
    print(coworkers)

('101', 'Han Solo', 'Bounty Hunter', '5556667578')
('102', 'Leia Skywalker', 'Princess', '5556542398')
('103', 'Luke Skywalker', 'Jedi', '5558963267')
('104', 'Obi-Wan Kenobi', 'Jedi', '5558963276')
('105', 'Anakin Skywalker', 'Sith Lord', '5553477621')
('106', 'Jabba The Hutt', 'Gangster', '5556613456')
('107', 'Greedo', 'Debt Collector', '5552360918')
('108', 'R2D2', 'Astro Droid', '5555210125')
('109', 'C3PO', 'Protocol Droid', '5556633345')

Desafío
1) Proporcione el código para consultar los nombres de todas las princesas.

In [27]:
cur.execute("SELECT name FROM coworkers where title='Princess';")
princesas = cur.fetchall()
for princesas in princesas:
    print(princesas)

('Leia Skywalker',)

2) Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [52]:
cur.execute("SELECT name FROM coworkers where title='Princess' AND title='Debt Collector';")
consulta2 = cur.fetchall()
for consulta2 in consulta2:
    print(personas)

3) Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [35]:
cur.execute("SELECT name, number FROM coworkers where title='Jedi';")
personas2 = cur.fetchall()
for personas2 in personas2:
    print(personas2)

('Luke Skywalker', '5558963267')
('Obi-Wan Kenobi', '5558963276')

4) Proporcione el código para consultar los nombres de los droids.

In [40]:
cur.execute("SELECT name FROM coworkers where title LIKE '%Droid%';")
personas3 = cur.fetchall()
for personas3 in personas3:
    print(personas3)

('R2D2',)
('C3PO',)